
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color:#2e3840 ;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color:#6A5ACD ;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #f9d949;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #f9d949;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color:#f9d949 ;
}